<div class="ui grid">
    <div class="five wide column">
      <h1 class="ui header">Problems</h1>
      <div class="ui vertical menu fluid" *ngIf="!!problems?.length">
        <a class="item" 
        [ngClass]="{'active': p == selectedProblem}" 
        *ngFor="let p of problems"
        (click)="select(p)"
        >
        <div class="ui basic segment" style="padding: 0! important">
          <h3 class="ui header" style="display: inline">{{ p.title }}</h3>
          <button (click)="deleteProblem(p)" class="ui basic red tiny circular right floated icon button">
            <i class="ui delete icon"></i>
          </button>
        </div>
        </a>
      </div>
      <div class="ui grid">
        <div class="ten wide column">
          <div class="ui input fluid">
            <input type="text" placeholder="title" #addProblemInput (keydown.enter)="addProblem(addProblemInput)">
          </div>
        </div>
        <div class="six wide column">
          <button class="ui button green" [ngClass]="{'loading': addButtonLoading}" (click)="addProblem(addProblemInput)">
            <i class="ui add icon"></i>
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="eleven wide stretched column">

      <div class="ui basic segment">
        <div class="ui secondary pointing menu">
          <a class="active item">
            Context
          </a>
          <a class="item">
            Sample Inputs
          </a>
          <a class="item">
            Test Cases
          </a>
        </div>
        <div class="ui segment">
          <form class="ui form">
            <div class="field">
              <label>Title</label>
              <input autocomplete="off" spellcheck="false" placeholder="Title">
            </div>
            <div class="field">
              <label>Problem</label>
              <textarea rows="20"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>